<section>
  <div class="row">
    <div class="medium-6 medium-centered large-4 large-centered columns">
      <form action="/auth/login" method="post">
        <div class="row column log-in-form">
          <h4 class="text-center" style="color:#5A9AA8"> Nice Selection!</h4>
          <label>
            <% unless !@basket %>
                <% if current_user %>
                    <% @basket.basket_items.each do |item| %>
                        <div>
                          <h6><%= item.qty %>
                            Dishes of
                            <%= item.dish.name %>, price per each:
                            <%= item.dish.price %>kr</h6>
                    <% end %>
                    </label>
                    <label>
                      <h5 style="color:#5a9aa8;">Your order total is
                        <%= @basket.total %>
                        kr</h5>
                    </label>
                    <%= form('/check_out', :post) %>
                    <% fieldset(:basket) do |f| %>
                        <%= f.hidden(:basket_id, value: @basket.id) %>
                        <p><input type="submit" value="Finalize Order" class="button expanded"/>
                          <a href="/cancel_order" class="secondary button expanded">Cancel Order</a></p>
                    <% end %>

                <% else %>
                    <p>
                      Please log in to enjoy ordering!
                    </p>

                <% end %>

            <% else %>
                <h2>Your basket is empty</h2>
            <% end %>
            </div>
      </form>
</section>
