
<section>
  <div class="row">
    <div class="large-6 medium-centered large-4 large-centered columns">
      <form action="/auth/login" method="post">
        <div class="row column log-in-form">
          <h4 class="text-center" style="color:#5A9AA8"> Your are few steps away from our great food!</h4>
          <% fieldset(:user) do |f| %>
              <%= f.label(:username) %>
              <%= f.input(:username) %>
              <%= f.label(:password) %>
              <%= f.password(:password) %>
              <%= f.label(:password_confirmation) %>
              <%= f.password(:password_confirmation) %>
              <%= f.label(:email) %>
              <%= f.input(:email) %>
              <%= f.label(:phone_number) %>
              <%= f.input(:phone_number) %>
          <% end %>
          </label>
          <p><input type="submit" value="Create account" class="button expanded"/></p>
        </div>
      </form>
</section>